<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.mapper.generate.UserInfosMapper">
  <resultMap id="BaseResultMap" type="com.common.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    <!--@Table user_infos-->
    <id column="id" property="id" />
    <result column="phone" property="phone" />
    <result column="password" property="password" />
    <result column="parent_id" property="parentId" />
    <result column="name" property="name" />
    <result column="team_num" property="teamNum" />
    <result column="balance" property="balance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, phone, `password`, parent_id, `name`, team_num, balance
  </sql>
  <select id="selectByExample" parameterType="com.common.pojo.generate.UserInfosExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_infos
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_infos
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.common.pojo.generate.UserInfosExample">
    <!--@mbg.generated-->
    delete from user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.common.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_infos (phone, `password`, parent_id, `name`, team_num, balance)
    values (#{phone}, #{password}, #{parentId}, #{name}, #{teamNum}, #{balance})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.common.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="teamNum != null">
        team_num,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="teamNum != null">
        #{teamNum},
      </if>
      <if test="balance != null">
        #{balance},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.common.pojo.generate.UserInfosExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from user_infos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update user_infos
    <set>
      <if test="record.id != null">
        id = #{record.id},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone},
      </if>
      <if test="record.password != null">
        `password` = #{record.password},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId},
      </if>
      <if test="record.name != null">
        `name` = #{record.name},
      </if>
      <if test="record.teamNum != null">
        team_num = #{record.teamNum},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update user_infos
    set id = #{record.id},
      phone = #{record.phone},
      `password` = #{record.password},
      parent_id = #{record.parentId},
      `name` = #{record.name},
      team_num = #{record.teamNum},
      balance = #{record.balance}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    update user_infos
    <set>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="teamNum != null">
        team_num = #{teamNum},
      </if>
      <if test="balance != null">
        balance = #{balance},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.pojo.generate.UserInfos">
    <!--@mbg.generated-->
    update user_infos
    set phone = #{phone},
      `password` = #{password},
      parent_id = #{parentId},
      `name` = #{name},
      team_num = #{teamNum},
      balance = #{balance}
    where id = #{id}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_infos
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.phone}
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.password}
        </foreach>
      </trim>
      <trim prefix="parent_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.parentId}
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="team_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.teamNum}
        </foreach>
      </trim>
      <trim prefix="balance = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.balance}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_infos
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.phone != null">
            when id = #{item.id} then #{item.phone}
          </if>
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.password != null">
            when id = #{item.id} then #{item.password}
          </if>
        </foreach>
      </trim>
      <trim prefix="parent_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.parentId != null">
            when id = #{item.id} then #{item.parentId}
          </if>
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id} then #{item.name}
          </if>
        </foreach>
      </trim>
      <trim prefix="team_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.teamNum != null">
            when id = #{item.id} then #{item.teamNum}
          </if>
        </foreach>
      </trim>
      <trim prefix="balance = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.balance != null">
            when id = #{item.id} then #{item.balance}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_infos
    (phone, `password`, parent_id, `name`, team_num, balance)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.phone}, #{item.password}, #{item.parentId}, #{item.name}, #{item.teamNum}, 
        #{item.balance})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.common.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      phone,
      `password`,
      parent_id,
      `name`,
      team_num,
      balance,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      #{phone},
      #{password},
      #{parentId},
      #{name},
      #{teamNum},
      #{balance},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      phone = #{phone},
      `password` = #{password},
      parent_id = #{parentId},
      `name` = #{name},
      team_num = #{teamNum},
      balance = #{balance},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.common.pojo.generate.UserInfos" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="teamNum != null">
        team_num,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="teamNum != null">
        #{teamNum},
      </if>
      <if test="balance != null">
        #{balance},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="teamNum != null">
        team_num = #{teamNum},
      </if>
      <if test="balance != null">
        balance = #{balance},
      </if>
    </trim>
  </insert>
</mapper>