<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="insertOnDuplicateKey" value="true" />
        <option name="javaMapperPackage" value="com.common.mapper.generate" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/common/src/main/java" />
        <option name="javaModelPackage" value="com.common.pojo.generate" />
        <option name="javaModelPath" value="$PROJECT_DIR$/common/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="common" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="admin">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.common.mapper.generate" />
                  <option name="javaMapperPath" value="C:\Users\xiami\Desktop\project\mytask\common\src\main\resources\mapperxml" />
                  <option name="javaModelPacakge" value="com.common.pojo.generate" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/admin/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/admin/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/admin/src/main/java" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="$PROJECT_DIR$/admin/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="common">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.common.mapper.generate" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/common/src/main/java" />
                  <option name="javaModelPacakge" value="com.common.pojo.generate" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/common/src/main/java" />
                  <option name="xmlPackage" value="mapperxml.generate" />
                  <option name="xmlPath" value="$PROJECT_DIR$/common/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="noJdbcType" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="db_task:t_task">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TTask" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:t_task_step">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TTaskStep" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:t_task_step_img">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TTaskStepImg" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:t_user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TUser" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:t_user_task">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TUserTask" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:task_infos">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TaskInfos" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:task_step">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TaskStep" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:task_step_img">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TaskStepImg" />
                  <option name="moduleName" value="common" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:user_infos">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="UserInfos" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:user_task">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="UserTask" />
                  <option name="moduleName" value="common" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:user_task_img">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="UserTaskImg" />
                  <option name="moduleName" value="common" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_task:user_task_record">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="UserTaskRecord" />
                  <option name="moduleName" value="common" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="updateBatchSelective" value="true" />
        <option name="useExample" value="true" />
        <option name="xmlMapperPackage" value="mapperxml.generate" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/common/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>